<script lang="ts" setup>
import InputText from 'primevue/inputtext';
import Button from 'primevue/button';
import FloatLabel from 'primevue/floatlabel';
import { useToast } from 'primevue/usetoast';

import { useVuelidate } from '@vuelidate/core'
import { required, email } from '@vuelidate/validators'

const authStore = useAuthStore();

const toast = useToast();

const router = useRouter();

const data = ref({
  email: '',
  password: ''
});

const rules = {
  email: {
    required,
    email
  },
  password: {
    required
  }
}

const v$ = useVuelidate(rules, data);

const onFormPreventSubmit = async () => {
  v$.value.$touch();

  if (v$.value.$error) {
    return;
  }

  try {
    await authStore.login(data.value.email, data.value.password);
  } catch (error) {
    toast.add({
      severity: 'error',
      summary: 'Error',
      detail: 'incorrect email or password',
      life: 3000
    });
    return;
  }

  toast.add({
    severity: 'success',
    summary: 'Success',
    detail: 'Login successful',
    life: 3000
  });

  router.push('/');
}
</script>

<template>
  <form @submit.prevent="onFormPreventSubmit()" class="grid grid-cols-1 gap-5 p-12 bg-neutral-50 rounded-xl">
    <FloatLabel>
      <InputText v-model="data.email" id="email" :invalid="v$.email.$error" type="email" />
      <label for="email">{{ v$.email.$error ? v$.email.$errors[0].$message : 'Email' }}</label>
    </FloatLabel>
    <FloatLabel>
      <InputText v-model="data.password" id="password" :invalid="v$.password.$error" type="password" />
      <label for="password">{{ v$.password.$error ? v$.password.$errors[0].$message : 'Password' }}</label>
    </FloatLabel>
    <Button type="submit" label="Login" />
  </form>

</template>
