<script lang="ts" setup>
import Button from 'primevue/button';
import { useToast } from 'primevue/usetoast';

const toast = useToast();

const router = useRouter();

const buttons = ref([
  { label: "Home", icon: "material-symbols-light:home-outline", to: "/" },
  { label: "Users", icon: "ph:users", to: "/users" },
]);

const authStore = useAuthStore();

const onLogOutButtonClick = () => {
  authStore.logout().then(() => {
    toast.add({
      severity: 'success',
      summary: 'Success',
      detail: 'Logout successful',
      life: 3000
    });
  });
}
</script>

<template>
  <div
    class="flex justify-between flex-col gap-10 py-10 px-5 border border-transparent border-solid border-r-black/30 h-full">
    <div class="grid grid-cols-1 gap-5">
      <img class="w-48" :src="`/logo.svg`" />
      <div class="grid grid-cols-1 gap-3">
        <Button v-for="button in buttons" :key="button.label" :label="button.label" :icon="button.icon" outlined
          @click="router.push(button.to)">
          <div class="text-sm flex justify-center w-full gap-3 items-center">
            <Icon :name="button.icon" class="text-lg" />
            <div>
              {{ button.label }}
            </div>
          </div>
        </Button>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <Button label="Logout" severity="danger" @click="onLogOutButtonClick()"></Button>
    </div>

  </div>
</template>
