<script lang="ts" setup>
import Toast from 'primevue/toast';

</script>

<template>
  <div class="container flex justify-center items-center w-full h-screen">
    <slot />
    <Toast></Toast>
  </div>
</template>
