<script lang="ts" setup>
import Toast from 'primevue/toast';
</script>

<template>
  <div class="grid grid-cols-[auto_1fr] h-[95vh] gap-5">

    <SidePanel />
    <div class="container">
      <slot />
    </div>
  </div>
  <Toast></Toast>
</template>
