<script lang="ts" setup>
import Dialog from 'primevue/dialog';
import { useToast } from 'primevue/usetoast';

const visible = defineModel<boolean>();

const toast = useToast();

const user = ref<CreateUserDto>(
  {
    email: '',
    password: '',
    confirmPassword: '',
    role: 'manager',
    name: ''
  }
);

const createNewUser = async () => {
  try {

    toast.add({
      severity: 'success',
      summary: 'Success',
      detail: 'User created',
      life: 3000
    })

    visible.value = false;
  } catch (error) {
    console.error(error);
  }
};
</script>

<template>
  <Dialog v-model:visible="visible" modal header="Create new user">
    <UserForm v-model="user"  @form-submit="createNewUser()" />
  </Dialog>
</template>
