<script lang="ts" setup>
import Dialog from 'primevue/dialog';
import { useToast } from 'primevue/usetoast';

const visible = defineModel<boolean>();

const props = defineProps<{
  userToEdit: User
}>();

const userToEdit = ref<CreateUserDto>(
  {
    email: props.userToEdit.email,
    password: '',
    confirmPassword: '',
    role: props.userToEdit.role,
    name: props.userToEdit.name
  }
);

const toast = useToast();


const editUser = async () => {
  try {

    toast.add({
      severity: 'success',
      summary: 'Success',
      detail: 'User edited',
      life: 3000
    })

    visible.value = false;
  } catch (error) {
    console.error(error);
  }
};
</script>

<template>
  <Dialog v-model:visible="visible" modal header="Edit user">
    <UserForm v-model="userToEdit"  @form-submit="editUser()" />
  </Dialog>
</template>
