<script lang="ts" setup>
import InputText from 'primevue/inputtext';
import Dropdown from 'primevue/dropdown';
import Button from 'primevue/button';
import FloatLabel from 'primevue/floatlabel';

import { useVuelidate } from '@vuelidate/core'
import { required, email, sameAs } from '@vuelidate/validators'
import { useToast } from 'primevue/usetoast';

const modelValue = defineModel<CreateUserDto>();


const emit = defineEmits(["form-submit"]);


if (!modelValue.value) {
  modelValue.value = {
    email: '',
    password: '',
    confirmPassword: '',
    role: 'manager',
    name: ''
  }
}


const rules = {
  email: {
    required,
    email
  },
  password: {
    required
  },
  // confirmPassword: {
  //   required,
  //   sameAsPassword: sameAs(modelValue.value.password)
  // },
  role: {
    required
  },
  name: {
    required
  }
}

const v$ = useVuelidate(rules, modelValue.value);

const onFormPreventSubmit = () => {
  v$.value.$touch();

  if (v$.value.$error) {
    return;
  }

  emit('form-submit');
}
</script>

<template>
  <form v-if="modelValue" class="grid grid-cols-1 gap-5 py-5" @submit.prevent="onFormPreventSubmit()">
    <FloatLabel for="email">
      <InputText id="email" v-model="modelValue!.email" />
      <label>Email</label>
    </FloatLabel>
    <FloatLabel for="password">
      <InputText id="password" v-model="modelValue!.password" type="password" />
      <label>Password</label>
    </FloatLabel>
    <FloatLabel for="confirmPassword" >
      <InputText id="confirmPassword" v-model="modelValue!.confirmPassword" type="password" />
      <label>Confirm Password</label>
    </FloatLabel>
    <FloatLabel for="name" >
      <InputText id="name" v-model="modelValue!.name" />
      <label>Name</label>
    </FloatLabel>
    <FloatLabel for="role" >
      <Dropdown id="role" v-model="modelValue.role" class="w-full" :options="['manager', 'admin']" >
        <template #value="slotProps">
          <UserRoleTag :role="slotProps.value" />
        </template>
        <template #option="slotProps">
          <UserRoleTag :role="slotProps.option" />
        </template>
      </Dropdown>
    </FloatLabel>

    <Button type="submit" label="Submit" severity="success" />
  </form>
</template>
