<script lang="ts" setup>
import Tag from 'primevue/tag';

const props = defineProps<{
  role: UserRole;
}>();

const getRoleSeverity = (role: UserRole) => {
  const options = {
    "admin": "danger",
    "manager": "success",
  }

  return options[role];
};

const getRoleLabel = (role: UserRole) => {
  const options = {
    "admin": "Admin",
    "manager": "Manager",
  }

  return options[role];
};
</script>

<template>
  <Tag :severity="getRoleSeverity(props.role)">
    {{ getRoleLabel(props.role) }}
  </Tag>
</template>
