<script lang="ts" setup>
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Button from 'primevue/button';
import { useToast } from 'primevue/usetoast';

const toast = useToast();

const users = ref<User[]>([

])

const generate20Users = () => {
  for (let i = 0; i < 20; i++) {
    users.value.push({
      name: `User ${i + 1}`,
      email: `user${i + 1}@example.com`,
      role: 'admin',
    });
  }
};
generate20Users();

const newUserDialogVisible = ref(false);

const onAddUserButtonClick = () => {
  newUserDialogVisible.value = true;
}

const editUserDialogVisible = ref(false);
const userToEdit = ref<User | null>(null);

const onEditUserButtonClick = (user: User) => {
  userToEdit.value = user;
  editUserDialogVisible.value = true;
}

const onDeleteUserButtonClick = (user: User) => {
  toast.add({
    severity: 'info',
    summary: 'Info',
    detail: 'Delete user button clicked',
    life: 3000
  }); 
}

</script>

<template>

  <DataTable :value="users" paginator :rows="10">
    <template #header>
      <div class="flex justify-between items-center">
        <TableHeader title="Users" />
        <Button icon="pi pi-plus" severity="success" v-tooltip.bottom="'Add new user'" @click="onAddUserButtonClick()" /> 
      </div>
    </template>
    <Column field="name" header="Name"></Column>
    <Column field="email" header="Email"></Column>
    <Column field="role" header="Role">
      <template #body="{ data }">
        <UserRoleTag :role="data.role" />
      </template>
    </Column>
    <Column>
      <template #body="{ data }">
        <div class="flex justify-start gap-5 items-center">
          <Button icon="pi pi-pencil" severity="warning" v-tooltip.bottom="'Edit user'" @click="onEditUserButtonClick(data)" />
          <Button icon="pi pi-trash" severity="danger" v-tooltip.bottom="'Delete user'" @click="onDeleteUserButtonClick(data)" />
        </div>
      </template>
    </Column>
  </DataTable>
  <UserCreateDialog v-model:visible="newUserDialogVisible" />
  <UserEditDialog v-if="userToEdit" v-model:visible="editUserDialogVisible" :userToEdit="userToEdit" />
</template>