<div class="message my-5" id="<%= dom_id message %>">
  <div class="flex flex-row">
    <div class="px-2 font-bold flex flew-row">
      <% if message.user.profile_pic.attached? %>
        <div>
          <%= image_tag url_for(message.user.profile_pic.variant(resize_to_limit: [50, 50])),
                        {class: 'rounded-full'}
          %>
        </div>
      <% end %>
      <div class="px-2">
        <%= message.user&.name %>
      </div>
    </div>
    <div class="px-2 text-gray-500">
      <%= link_to message_path(message), {target: '_top'} do %>
        <%= time_ago_in_words(message.created_at) %> ago
      <% end %>
    </div>
  </div>
  </p>
  <p>
  <div class="px-2"><%= message.text %></div>
  </p>
</div>
