<% if @message.errors.any? %>
  <%= turbo_stream.update "message_form", partial: "form",
                                          locals: { message: @message } %>
<% else %>
  <%= turbo_stream.prepend "messages_list", partial: "message",
                                            locals: { message: @message } %>
  <%= turbo_stream.update "message_form", partial: "form",
                                          locals: { message: Message.new } %>
<% end %>
