<div class="grid grid-cols-3 gap-4">
  <div class="my-2">
    <%= turbo_frame_tag 'message_form' do %>
      <%= render "form", message: @new_message %>
    <% end %>
  </div>

  <div id="messages" class="col-span-2">
    <%= turbo_frame_tag 'messages_list' do %>
      <% @messages.each do |message| %>
        <%= render message %>
      <% end %>
    <% end %>
  </div>
  <%= turbo_stream_from 'messages_stream' %>
</div>
