<%= render @message %>

<div>
  <% if can?(:update, @message) %>
    <%= link_to "Edit this message", edit_message_path(@message) %> |
  <% end %>
  <%= link_to "Back to messages", messages_path %>

  <% if can?(:destroy, @message) %>
    <%= button_to "Destroy this message", @message, method: :delete %>
  <% end %>
</div>
